<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_admin">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Management Departments</title>
</head>
<body onload="load_list_departments('', 0, 2)">
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Management Departments
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-laptop active"></i> Management Departments</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 5px;"/>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- search departments -->
        <div class="input-group" style="margin-right:  25%; margin-left: 25%; margin-bottom: 5px;">
            <input type="text" class="form-control" th:id="'input-search-department'"
                   placeholder="Enter Name/Code Department"
                   autocomplete="off"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success btn-flat"
                        th:id="'btn-search-department'"/>
                <i class="glyphicon glyphicon-search"></i> Search</span>
        </div>
        <!-- /.search departments -->
        <!-- Add new department -->
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-sm-2">
                <a th:href="@{/admin/departments/addDepartment}">
                    <button type="submit" id="add-new-class-button" class="btn btn-success btn-flat btn-sm">
                        <i class="glyphicon glyphicon-plus"></i> New Department
                    </button>
                </a>
            </div>
        </div>
        <!-- /.end add new department -->
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div class="box-title">
                            List of Departments
                        </div>
                        <div class="pull-right">
                            Show
                            <select th:id="'select-entries'">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <colgroup>
                                <col span="1" style="width: 30%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 35%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody th:id="'tbody-list-departments'"></tbody>
                        </table>
                    </div>
                    <div th:id="'footer-pagination'" class="box-footer no-border text-right"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/admin/management_depart/management_depart.js}"></script>
</div>
</body>
</html>