<head lang="en">
    <meta charset="UTF-8"/>
</head>

<!--- modal message success -->
<div class="row">
    <div class="col-sm-12">
        <div class="modal fade" id="modal-img-employee">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: transparent">
                    <div class="modal-body">
                        <div class="row" style="margin-top: 35px">
                            <div class="col-sm-12 text-center">
                                <img th:id="'img-employee'" class="img-bordered-sm" style="width: 90%; height: auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>