<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Timekeeping</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Main content -->
    <section class="content font-17">
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 10px">
            <div class="row text-success" style="font-size: 24px;">
                <div class="col-sm-5 text-right text-bold">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <div class="col-sm-6 text-left">
                    <font>Timekeeping</font>
                </div>
            </div>
            <!-- department -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Department:</font></div>
                <div class="col-sm-6 text-left">
                    <font th:text="${TimekeepingResponseModel.departmentName}"></font></div>
            </div>
            <!-- /.end department -->
            <!-- month -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Month:</font></div>
                <div class="col-sm-6 text-left">
                    <div class="input-group date" style="width: 35%">
                        <input type="text" th:value="${#dates.format(SelectedDate, 'yyyy-MM')}"
                               class="form-control pull-left selected-date" id="datepicker"/>

                        <div class="input-group-addon">
                            <i class="fa fa-calendar text-success"></i>
                        </div>
                    </div>
                    <!-- form change month -->
                    <form th:action="@{/manager/timekeeping/change_month}" method="post"
                          th:id="'form-submit-change-month'">
                        <input type="hidden" th:name="selectedMonth" />
                    </form>
                    <!-- /.form change month -->
                </div>
            </div>
            <!-- /.end month -->
        </div>
        <div class=" box box-success">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="box-title text-success"><i class="fa fa-users"></i> Employees
                            List</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="input-group" style="margin-left: 60%">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-flat btn-sm" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            <input type="text" class="form-control input-sm" placeholder="Enter Employee Name"
                                   style="font-size: 14px"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- Data-table for list of employees -->
            <div class="box-body">
                <table class="table">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 35%;">
                        <col span="1" style="width: 5%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Total Present Days</th>
                        <th>Note</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee,counter: ${TimekeepingResponseModel.listEmployee}">
                        <td th:text="${counter.count} + '.'"></td>
                        <td th:text="${employee.fullName}"></td>
                        <td th:text="(${employee.dayCheckin != null} ? ${employee.dayCheckin}: 0 ) + '/' + ${employee.dayWork}"></td>
                        <td>-</td>
                        <td>
                            <form th:action="@{/manager/timekeeping/details}" method="post"
                                  th:id="'form-submit-view-details-' + ${employee.id}">
                                <input type="hidden" th:name="accountTKDetailsModel"/>
                                <button type="button" class="btn bg-aqua-active btn-flat btn-sm view-details-tk"
                                        th:attr="data-id=${employee.id}"
                                        style="width: 100%">
                                    <i class="fa fa-hand-pointer-o"></i> View Details
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.end data-table for list of employees -->
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/manager/timekeeping/timekeeping.js}"></script>
</div>
</body>
</html>