<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Timekeeping</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Timekeeping
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/manager/timekeeping/}">
                <i class="fa fa-laptop"></i> Timekeeping</a></li>
            <li class="active">View Details</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 1px;"/>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 10px">
            <!-- department -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right">
                    <font>Department:</font></div>
                <div class="col-sm-6 text-left">
                    <font>IT</font></div>
            </div>
            <!-- /.end department -->
            <!-- manager -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right">
                    <font>Manager:</font></div>
                <div class="col-sm-6 text-left">
                    <font>Nguyễn Năng Trung</font></div>
            </div>
            <!-- /.end manager -->
            <!-- month -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right">
                    <font>Month:</font></div>
                <div class="col-sm-6 text-left">
                    <div class="input-group date" style="width: 50%">
                        <input type="text" th:value="${#dates.format(SelectedDate, 'MMMM-yyyy')}"
                               class="form-control pull-left selected-date" id="datepicker"/>

                        <div class="input-group-addon">
                            <i class="fa fa-calendar text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.end month -->
        </div>
        <div class=" box box-success">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="box-title text-success text-capitalize">
                            <i class="fa fa-user"></i>
                            <font th:text="${AccountAttendanceModel.fullname}"></font>
                        </h3>
                        <hr style="border-color: green; margin-top: 2px; margin-bottom: 1px;"/>
                        <font class="text-primary text-capitalize">Total present days:</font>
                        <font th:text="${AccountAttendanceModel.totalTimeKeeping} + '/' + ${AccountAttendanceModel.dayWork}"
                              class="text-primary"></font>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- Data-table for list of dates -->
            <div class="box-body">
                <table id="dataTable" class="table table-bordered table-hover"
                       style="border-collapse: collapse;">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Time Check-in</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attendance,counter: ${AccountAttendanceModel.attendances}"
                        th:if="${attendance.dayStatus.index != 3}">
                        <td th:text="${counter.count} + '.'"></td>
                        <td th:text="${#dates.format(attendance.date, 'dd-MMM-yyyy')}"
                            th:class="'text-primary'"></td>
                        <td>
                            <button type="button" class="btn btn-block btn-flat"
                                    th:attrappend="class=${attendance.present.index == 0} ? ' btn-primary': ' btn-warning'"
                                    th:text="${attendance.present.index == 0} ? 'Present': 'Absent'"></button>
                        </td>
                        <td th:text="${attendance.timeCheck != null} ? ${#dates.format(attendance.timeCheck, 'HH:mm')}: '-'"></td>
                        <td th:text="${attendance.note}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.end data-table for list of dates -->
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-flat btn-sm" style="width: 45%">
                    <i class="glyphicon glyphicon-arrow-left"></i> BACK
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <!--<script th:src="@{/js/manager/checkin_manual/checkin_manual.js}"></script>-->
</div>
</body>
</html>