<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Timekeeping</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Main content -->
    <section class="content font-17">
        <!-- Your Page Content Here -->
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 10px">
            <div class="row text-success" style="font-size: 24px;">
                <div class="col-sm-5 text-right text-bold">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <div class="col-sm-6 text-left">
                    <font>Timekeeping</font>
                </div>
            </div>
            <!-- department -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Department:</font></div>
                <div class="col-sm-6 text-left">
                    <font th:if="${session} and ${session.UserSession}"
                          th:text="${session.UserSession.department.name}"></font></div>
            </div>
            <!-- /.end department -->
            <!-- total present days -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Total present days:</font></div>
                <div class="col-sm-6 text-left">
                    <font th:text="${AccountAttendanceModel.totalTimeKeeping}"></font>
                </div>
            </div>
            <!-- /.total present days -->
            <!-- month -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Month:</font></div>
                <div class="col-sm-6 text-left">
                    <div class="input-group date" style="width: 35%">
                        <input type="text" th:value="${#dates.format(SelectedDate, 'yyyy-MMMM')}"
                               class="form-control pull-left selected-date" id="date-picker-timekeeping-detail"/>

                        <div class="input-group-addon">
                            <i class="fa fa-calendar text-success"></i>
                        </div>
                    </div>
                    <!-- form change month -->
                    <form th:action="@{/manager/timekeeping/details/change_month}" method="get"
                          th:id="'form-submit-change-month'">
                        <input type="hidden" th:name="selectedMonth"/>
                        <input type="hidden" th:name="accountId" th:value="${AccountAttendanceModel.id}"/>
                    </form>
                    <!-- /.form change month -->
                </div>
            </div>
            <!-- /.end month -->
            <div class="row">
                <div class="col-sm-2">
                    <a th:href="@{/manager/timekeeping/}">
                        <button type="button" class="btn btn-primary btn-flat btn-sm" style="width: 45%"
                                th:id="'btn-back-to-previous'">
                            <i class="glyphicon glyphicon-arrow-left"></i> BACK
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class=" box box-success">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="box-title text-success text-capitalize">
                            <i class="fa fa-user"></i>
                            <font th:text="${AccountAttendanceModel.fullName}"></font>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- Data-table for list of dates -->
            <div class="box-body">
                <table class="table">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Type Check-in</th>
                        <th>Time Check-in</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attendance,counter: ${AccountAttendanceModel.attendances}"
                        th:if="${attendance.dayStatus.index != 1 and attendance.dayStatus.index != 2}"
                        th:attr="class=${(attendance.dayStatus.index == 3 or attendance.dayStatus.index == 5) and (attendance.present.index == 2)} ? 'text-bold bg-gray' : (${(attendance.dayStatus.index == 3 or attendance.dayStatus.index == 5) and (attendance.present.index != 2)} ? 'text-bold': (${attendance.present.index == 2}? 'bg-gray'))">
                        <td th:text="${#dates.format(attendance.date, 'yyyy-MMM-dd')}"></td>
                        <td>
                            <label th:class="${(attendance.dayStatus.index == 4) or (attendance.dayStatus.index == 5) or (attendance.dayStatus.index == 3 and attendance.present.index == 1 and attendance.timeCheck == null)}? '' : (${(attendance.dayStatus.index == 3 and attendance.present.index == 2) or (attendance.dayStatus.index == 0 and attendance.present.index == 2)} ? '' : (${(attendance.dayStatus.index == 3 and attendance.present.index == 0) or (attendance.dayStatus.index == 0 and attendance.present.index == 0)} ? 'label label-success' : 'label label-danger'))"
                                   th:text="${(attendance.dayStatus.index == 4) or (attendance.dayStatus.index == 5) or (attendance.dayStatus.index == 3 and attendance.present.index == 1 and attendance.timeCheck == null)}? '-' : (${(attendance.dayStatus.index == 3 and attendance.present.index == 2) or (attendance.dayStatus.index == 0 and attendance.present.index == 2)} ? 'Deactivate' : (${(attendance.dayStatus.index == 3 and attendance.present.index == 0) or (attendance.dayStatus.index == 0 and attendance.present.index == 0)} ? 'Present' : 'Absent'))"
                                   style="font-size: 14px;"></label>
                        </td>
                        <td>
                            <font th:if="${attendance.type != null}"
                                  th:text="${attendance.type.index == 0}? (${attendance.confidence > 0 and attendance.confidence != null}? 'Camera ['+${attendance.confidence}+'%]': 'Camera'): (${attendance.type.index == 1}? 'Manual': (${attendance.type.index == 2}? ''))"></font>
                            <font th:if="${attendance.type == null}">-</font>
                            <button th:if="${attendance.type != null and attendance.type.index == 0}"
                                    class="btn bg-aqua-active btn-sm" type="button" title="View Image"
                                    th:onclick="'show_image_employee(\''+ ${attendance.imagePath} + '\')'">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                        <td>
                            <font th:text="${attendance.timeCheck != null}? ${#dates.format(attendance.timeCheck, 'HH:mm')}: '-'"
                                  style="font-style: italic"></font>
                        </td>
                        <td th:text="${attendance.note != null and attendance.note != ''}? ${attendance.note}: '-'"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.end data-table for list of dates -->
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a th:href="@{/manager/timekeeping/}">
                    <button type="button" class="btn btn-primary btn-flat btn-sm" style="width: 45%"
                            th:id="'btn-back-to-previous'">
                        <i class="glyphicon glyphicon-arrow-left"></i> BACK
                    </button>
                </a>
            </div>
        </div>
        <!-- modals here -->
        <div th:replace="views/manager/timekeeping/modals"></div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/manager/timekeeping/timekeeping_details.js}"></script>
</div>
</body>
</html>