<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Customer Satisfaction</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 10px">
            <div class="row text-success" style="font-size: 24px;">
                <div class="col-sm-5 text-right text-bold">
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="col-sm-6 text-left">
                    <font>Customer Satisfaction</font>
                </div>
            </div>
            <!-- department -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Department:</font></div>
                <div class="col-sm-6 text-left">
                    <font th:text="${CustomerServiceReport.department.name}"></font></div>
            </div>
            <!-- /.end department -->
            <!-- date -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Date:</font></div>
                <div class="col-sm-6 text-left">
                    <div class="input-group date" style="width: 35%">
                        <input type="text" th:value="${#dates.format(SelectedDate, 'dd-MMMM-yyyy')}"
                               class="form-control pull-left selected-date" id="date_picker_date"/>

                        <div class="input-group-addon">
                            <i class="fa fa-calendar text-success"></i>
                        </div>
                    </div>
                    <!-- form change date -->
                    <form th:action="@{/manager/cus_satisfaction/change_date}" method="post"
                          th:id="'form-submit-change-date'">
                        <input type="hidden" th:name="selectedDate" />
                    </form>
                    <!-- /.form change date -->
                </div>
            </div>
            <!-- /.end date -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li>
                            <a th:id="'change-to-tag-month'" data-toggle="tab">
                                Filter By Month</a>
                        </li>
                        <li class="active"><a data-toggle="tab">Filter By Date</a></li>
                        <form th:id="'form-submit-change-to-tag-month'"
                              th:action="@{/manager/cus_satisfaction/month/}" method="get"></form>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-sm-6">
                                    <font class="box-title text-success" style="font-size: 19px">
                                        <i class="fa fa-users"></i> Employees List</font>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="input-group" style="margin-left: 60%">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-flat btn-sm" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        <input type="text" class="form-control input-sm"
                                               placeholder="Enter Employee Name"
                                               style="font-size: 15px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <colgroup>
                                            <col span="1" style="width: 5%;">
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 25%;">
                                            <col span="1" style="width: 40%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th class="text-center">Total Served Customers</th>
                                            <th class="text-center">Grade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="employee,counter: ${CustomerServiceReport.employeeReport}">
                                            <td th:text="${counter.count} + '.'"></td>
                                            <td th:text="${employee.username}"></td>
                                            <td th:text="${employee.totalCustomer != null}? ${employee.totalCustomer}: 0"
                                                class="text-center"></td>
                                            <td th:text="${#numbers.formatDecimal(employee.grade, 1, 2)}"
                                                class="text-center"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/manager/customer_satisfaction/cus_satisfaction_date.js}"></script>
</div>
</body>
</html>