<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Customer Satisfaction</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 10px">
            <div class="row text-success" style="font-size: 24px;">
                <div class="col-sm-5 text-right text-bold">
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="col-sm-6 text-left">
                    <font>Customer Satisfaction</font>
                </div>
            </div>
            <!-- department -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Department:</font></div>
                <div class="col-sm-6 text-left">
                    <font th:text="${CustomerServiceReport.department.name}"></font></div>
            </div>
            <!-- /.end department -->
            <!-- month -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Month:</font></div>
                <div class="col-sm-6 text-left">
                    <div class="input-group date" style="width: 35%">
                        <input type="text" th:value="${#dates.format(SelectedDate, 'MMMM-yyyy')}"
                               class="form-control pull-left selected-date" id="date_picker_month"/>

                        <div class="input-group-addon">
                            <i class="fa fa-calendar text-success"></i>
                        </div>
                    </div>
                    <!-- form change month -->
                    <form th:action="@{/manager/cus_satisfaction/details/change_month}" method="post"
                          th:id="'form-submit-change-month'">
                        <input type="hidden" th:name="selectedMonth"/>
                        <input type="hidden" th:name="accountId" th:value="${CustomerServiceReport.id}"/>
                    </form>
                    <!-- /.form change month -->
                </div>
            </div>
            <!-- /.end month -->
        </div>
        <div class="box box-success">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="box-title text-success text-capitalize">
                            <i class="fa fa-user"></i>
                            <font th:text="${CustomerServiceReport.fullName}"></font>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- table for list of dates -->
            <div class="box-body">
                <table class="table">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 55%;">
                        <col span="1" style="width: 25%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th class="text-center">Total Served Customers</th>
                        <th>Evaluation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report,counter: ${CustomerServiceReport.reportDate}"
                        th:if="${report.dayStatus.index != 4}">
                        <td th:text="${counter.count} + '.'"></td>
                        <td th:text="${#dates.format(report.date, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${report.totalCustomer != null}? ${report.totalCustomer}: 0"
                            class="text-center"></td>
                        <td th:text="${report.totalCustomer != 0}? ${report.evaluation}: 'N/A'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.end data-table for list of dates -->
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-flat btn-sm" style="width: 45%">
                    <i class="glyphicon glyphicon-arrow-left"></i> BACK
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/manager/customer_satisfaction/cus_satisfaction_month_details.js}"></script>
</div>
</body>
</html>