<head lang="en">
    <meta charset="UTF-8"/>
</head>

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header text-black">
                <font class="font-16">MAIN MENU</font></li>
            <li th:attr="class=${SideBar == 'Attendance'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/employee/attendance/}">
                    <small class="label bg-yellow-active font-13"><i class="fa fa-users"></i></small>
                    <font class="font-16">Attendance</font>
                </a>
            </li>
            <li th:attr="class=${SideBar == 'CustomerEmotion'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/employee/customer_emotion/}">
                    <small class="label bg-green-active font-13"><i class="fa fa-heartbeat"></i></small>
                    <font class="font-16">Customer Emotion</font>
                </a>
            </li>
        </ul>
    </section>
</aside>