<head lang="en">
    <meta charset="UTF-8"/>
</head>

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header" style="color: white;">MAIN MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a th:href="@{/employee/attendance/}">
                    <i class="fa fa-users"></i>
                    <span>Attendance</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>