<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Management Reminders</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Add New Reminder
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/manager/reminders/}">
                <i class="fa fa-laptop"></i> Management Reminders</a></li>
            <li class="active">Add New Reminder</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 5px;"/>
    </section>
    <!-- Main content -->
    <section class="content font-17">
        <!-- Your Page Content Here -->
        <div class="panel panel-success">
            <div class="panel-heading">
                <font class="panel-title">Reminder Information</font>
            </div>
            <div class="panel-body">
                <!-- Form for add reminder -->
                <form th:action="@{/manager/reminders/addReminderProcessing}" method="post"
                        class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Title: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <input type="text" th:name="title" th:value="${title}"
                                   class="form-control" placeholder="Enter Title"
                                   style="width: 50%;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Date: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <div class="input-group date" style="width: 50%" id="datepicker-reminder">
                                <input type="text" th:name="date" class="form-control pull-left" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Time: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <div class="input-group bootstrap-timepicker" style="width: 50%">
                                <input type="text" th:name="time" class="form-control pull-left timepicker-reminder">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2">-->
                            <!--Time: <font color="red">*</font></label>-->

                        <!--<div class="col-sm-10">-->
                            <!--<div class="input-group date form_datetime"-->
                                 <!--data-date="2016-09-16T05:25:07Z"-->
                                 <!--data-date-format="yyyy-mm-dd  hh:ii"-->
                                 <!--style="width: 50%">-->
                                <!--<input type="text" th:name="time" th:value="${time}"-->
                                       <!--class="form-control pull-left">-->

                                <!--<div class="input-group-addon">-->
                                    <!--<i class="fa fa-clock-o"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.input group &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Room: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <div style="width: 50%">
                                <select th:name="roomId"
                                        class="form-control select2" style="width: 100%;">
                                    <option>Select Room</option>
                                    <option th:each="room: ${ListRooms}" th:value="${room.id}"
                                            th:text="${room.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Participants: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <div style="width: 50%">
                                <select th:name="listEmployees"
                                        class="form-control select2" multiple="multiple"
                                        data-placeholder="Select Participants" style="width: 100%;">
                                    <option th:each="account: ${ListAccounts}" th:value="${account.id}"
                                            th:text="${account.fullName} +' - ' + ${account.username}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Message: <font color="red">*</font></label>

                        <div class="col-sm-10">
                                <textarea th:name="message" th:text="${message}"
                                        class="form-control" placeholder="Enter Description"
                                          style="width: 50%"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-success btn-flat btn-sm" style="width: 25%;">
                                <i class="fa fa-download"></i> SAVE
                            </button>
                            <button type="reset" class="btn btn-warning btn-flat btn-sm" style="width: 25%;">
                                <i class="fa fa-refresh"></i> RESET
                            </button>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </form>
                <!-- ./form for add reminder -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a th:href="@{/manager/reminders/}">
                    <button class="btn btn-primary btn-flat btn-sm" style="width: 45%">
                        <i class="fa fa-chevron-left"></i> BACK
                    </button>
                </a>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/manager/reminder/add_reminder.js}"></script>
</div>
</body>
</html>