<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Management Reminders</title>
</head>
<body onload="load_list_reminders(0)">
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Management Reminders
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-laptop active"></i> Management Reminders</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 5px;"/>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- Form for search reminders -->
        <div class="input-group" style="margin-right:  25%; margin-left: 25%; margin-bottom: 5px;">
            <input type="text" class="form-control" placeholder="Enter Title"/>
            <span class="input-group-btn">
                    <button class="btn btn-success btn-flat" type="button"/>
                        <i class="glyphicon glyphicon-search"></i> Search
                </span>
        </div>
        <!-- ./form for search reminders -->
        <!-- Add new reminder -->
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-sm-2">
                <a th:href="@{/manager/reminders/addReminder}">
                    <button type="submit" id="add-new-class-button" class="btn btn-success btn-flat btn-sm">
                        <i class="glyphicon glyphicon-plus"></i> New Reminder
                    </button>
                </a>
            </div>
        </div>
        <!-- /.end add new reminder -->
        <input type="hidden" th:id="'text-managerId'"
               th:if="${session} and ${session.UserSession}"
               th:value="${session.UserSession.id}"/>
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div class="box-title">
                            List of Reminders
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <colgroup>
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Room</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody th:id="'tbody-list-reminders'">
                            </tbody>
                        </table>
                    </div>
                    <div th:id="'footer-pagination'" class="box-footer no-border text-right">
                        <ul class="pagination pagination-sm no-margin">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- form view reminder -->
            <form th:action="@{/manager/reminders/view}"
                  th:id="'form-submit-view-reminder'">
                <input type="hidden" th:name="reminderId"/>
            </form>
            <!-- /.end form view reminder -->
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/manager/reminder/management_reminder.js}"></script>
</div>
</body>
</html>