<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_employee">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Customer Emotion</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Main content -->
    <section class="content font-17">
        <!-- Your Page Content Here -->
        <!-- store accountId-->
        <input id="accountId" th:if="${session} and ${session.UserSession}"
               th:value="${session.UserSession.id}" type="hidden"/>
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 50px">
            <!-- company name -->
            <div class="row text-black">
                <div class="col-sm-12 text-center">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <label>
                                    <font class="font-24 text-uppercase">TKCS Company</font>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- department -->
            <div class="row text-black font-18">
                <div class="col-sm-6 text-right">
                    <label>Department:</label></div>
                <div class="col-sm-6 text-left">
                    <font th:if="${session} and ${session.UserSession}"
                          th:text="${session.UserSession.department.name}"></font>
                    &nbsp;
                    <!-- button show modal customer emotion -->
                    <label class="text-yellow" th:id="'btn-show-modal-customer-emotion'" style="display: none"
                           onclick="close_modal_customer_emotion(false)">
                        <i class="fa fa-lightbulb-o"></i></label>
                </div>
            </div>
            <!-- /.end department -->
            <!-- date -->
            <div class="row text-black font-18">
                <div class="col-sm-6 text-right">
                    <label>Date:</label></div>
                <div class="col-sm-6 text-left">
                    <font th:text="${#dates.format(CurrentDate, 'yyyy-MMM-dd')}"></font></div>
            </div>
            <!-- /.end date -->
            <!-- button next transaction -->
            <div class="row font-18" style="margin-top: 20px;">
                <div class="col-sm-2 col-sm-offset-5">
                    <button class="btn bg-aqua-active btn-flat btn-block"
                            th:id="'btn-next-transaction'">
                        Khách hàng tiếp theo
                    </button>
                </div>
                <div th:id="'div-stop-worker-get-emotion-manual'" class="col-sm-5" style="opacity: 0"
                     onclick="stop_get_emotion_manual()">
                    <div class="box box-default">
                        <div class="box-body"></div>
                    </div>
                </div>
            </div>
            <!-- /.end button next transaction -->
        </div>
        <div th:id="'div-overview-customer-emotion'" class="row" style="display: none;">
            <div class="col-sm-12">
                <div class="customer-emotion">
                    <div class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" onclick="close_modal_customer_emotion(true)">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title text-blue text-bold">Customer Emotion</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <!-- image customer -->
                                        <div class="col-sm-3 text-center">
                                            <div class="col-sm-12" th:id="'div-image-customer'">
                                                <img th:id="'image-customer'" style="width: 95%; height: auto"/>
                                            </div>
                                            <!-- preloader image -->
                                            <div class="col-sm-12" th:id="'div-preloader-image'" style="display: none">
                                                <button class="btn bg-blue-gradient" disabled>
                                                    <i class="fa fa-refresh fa-spin"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <!-- gender -->
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <label>Giới tính:</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span th:id="'font-gender'"></span>
                                                </div>
                                            </div>
                                            <!-- age -->
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <label>Tuổi khuôn mặt:</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <font th:id="'font-age-predict'"></font>
                                                </div>
                                            </div>
                                            <!-- emotion -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Cảm xúc: </label>
                                                    <font th:id="'customer-emotion-message'"></font>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- suggestion -->
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-sm-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-body">
                                                    <label>Gợi ý giao tiếp</label>
                                                    <ol th:id="'suggestion-behavior-message'"></ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center text-bold">
                                            <font>Nếu không phải xin nhấn</font>
                                        </div>
                                    </div>
                                    <!-- button skip -->
                                    <div class="row" style="margin-top: 5px">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <button class="btn bg-orange-active btn-flat btn-block"
                                                    th:id="'btn-skip-transaction'">Bỏ qua
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- div message not get emotion -->
        <div th:id="'div-not-get-emotion'" style="display: none">
            <div class="row text-center">
                <div class="col-sm-4 col-md-offset-4">
                    <div class="box box-warning">
                        <div class="box-body">
                            <p class="font-18">Không thể lấy cảm xúc khách hàng.
                                <br/> Xin vui lòng thử lại.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/employee/customer_emotion.js}"></script>
</div>
</body>
</html>