<head lang="en">
    <meta charset="UTF-8"/>
</head>

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header text-black">
                <font class="font-16">REPORT</font></li>
            <li th:attr="class=${SideBar == 'Timekeeping'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/manager/timekeeping/}">
                    <small class="label bg-green-active font-13"><i class="fa fa-balance-scale"></i></small>
                    <font class="font-16">Timekeeping</font>
                </a>
            </li>
            <li th:attr="class=${SideBar == 'CustomerSatisfaction'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/manager/cus_satisfaction/month/}">
                    <small class="label bg-maroon-gradient font-13"><i class="fa fa-heartbeat"></i></small>
                    <font class="font-16">Customer Satisfaction</font>
                </a>
            </li>
            <hr style="border-color: darkgreen"/>
            <li class="header text-black">
                <font class="font-16">MANAGEMENT</font></li>
            <li th:attr="class=${SideBar == 'ManagementReminder'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/manager/reminders/}">
                    <small class="label bg-red-active font-13"><i class="fa fa-clock-o"></i></small>
                    <font class="font-16">Reminders</font>
                </a>
            </li>
            <hr style="border-color: darkgreen"/>
            <li th:attr="class=${SideBar == 'Checkin'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/manager/check_in/}">
                    <small class="label bg-yellow-active font-13"><i class="fa fa-calendar-check-o"></i></small>
                    <font class="font-16">Check-in Manual</font>
                </a>
            </li>
        </ul>
    </section>
</aside>