<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_staff">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Training Image</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Train Employee Images
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-laptop"></i> Train Employee Images</li>
            <li class="active">Create Person Group</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 5px;">
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title text-success">
                    <i class="fa fa-group"></i> Create Person Group</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Group Name: <font style="color: #f00000;">*</font></label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Group Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descriptions:</label>

                        <div class="col-sm-6">
                            <textarea class="form-control" placeholder="Descriptions"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2"></label>

                        <div class="col-sm-6">
                            <button class="btn btn-success btn-flat" style="width: 25%">
                                <i class="fa fa-download"></i> Create Group
                            </button>
                            <button class="btn btn-warning btn-flat" style="width: 25%">
                                <i class="fa fa-refresh"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.box -->
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-flat">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
</body>
</html>