<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login Page</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login/processing}" method="post">
    <label>Username: </label> <input type="text" name="username"/><br/>
    <label>Password: </label> <input type="password" name="password"/><br/>
    <input type="submit" value="Sign In"/>
</form>
</body>
</html>