<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_admin">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Sync Data</title>
</head>
<body onload="load_page()">
<div layout:fragment="content">
    <section class="content font-17">
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-6 col-md-offset-3">
                <div class="box box-success">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12 text-center text-light-blue">
                                <font th:id="'font-icon-sync'" class="font-180"><i class="fa fa-refresh"></i></font>
                                <font th:id="'font-icon-sync-processing'" class="font-180" style="display: none">
                                    <i class="fa fa-refresh fa-spin"></i></font>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px">
                            <div class="col-sm-12 text-center">
                                <button th:id="'btn-sync'" type="button" class="btn btn-warning btn-lg btn-flat"
                                        style="width: 30%;"
                                        onclick="sync_data()">Sync Now
                                </button>
                                <button th:id="'btn-sync-processing'" type="button" style="display: none; width: 30%"
                                        class="btn btn-warning btn-lg btn-flat" disabled>Processing...
                                </button>
                            </div>
                        </div>
                        <div th:id="'div-last-time-sync'" class="row" style="display: none">
                            <div class="col-sm-12 text-center">
                                <font class="text-muted">
                                    <i class="fa fa-history"></i> Last time sync:
                                    <font th:id="'font-last-time-sync'" ></font>
                                </font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:id="'div-history'" class="row" style="margin-top: 15px; display: none">
            <div class="col-sm-6 col-md-offset-3">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <div class="box-title">
                            History Synchronization
                        </div>
                    </div>
                    <div class="box-body" style="overflow-y: scroll; height: 205px">
                        <table class="table">
                            <colgroup>
                                <col span="1" style="width: 55%;">
                                <col span="1" style="width: 45%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody th:id="'tbody-history'"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <!--<script th:src="@{/js/common.js}"></script>-->
    <script th:src="@{/js/admin/config/sync_data.js}"></script>
</div>
</body>
</html>