<head lang="en">
    <meta charset="UTF-8"/>
</head>

<!--- modal message success -->
<div class="row">
    <div class="col-sm-12">
        <div class="modal modal-success fade" id="modal-msg-success">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <i class="fa fa-check"></i> <font id="modal-msg-success-content"></font>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- modal message fail -->
<div class="row">
    <div class="col-sm-12">
        <div class="modal modal-danger fade" id="modal-msg-fail">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <i class="fa fa-check"></i> <font id="modal-msg-fail-content"></font>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>