<head lang="en">
    <meta charset="UTF-8"/>
</head>

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header text-black">
                <font class="font-16">MANAGEMENT</font></li>
            <li th:attr="class=${SideBar == 'ManagementDepart'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/admin/departments/}">
                    <small class="label bg-yellow-active font-13"><i class="fa fa-object-ungroup"></i></small>
                    <font class="font-16">Departments</font>
                </a>
            </li>
            <li th:attr="class=${SideBar == 'ManagementAcc'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/admin/accounts/}">
                    <small class="label bg-green-active font-13"><i class="fa fa-users"></i></small>
                    <font class="font-16">Accounts</font>
                </a>
            </li>
            <hr style="border-color: darkgreen"/>
            <li class="header text-black">
                <font class="font-16">CONFIGURATION</font></li>
            <li th:attr="class=${SideBar == 'SystemConfig'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/admin/sync_data}">
                    <small class="label bg-blue-active font-13"><i class="fa fa-cogs"></i></small>
                    <font class="font-16">System</font>
                </a>
            </li>
            <li th:attr="class=${SideBar == 'SyncData'}? 'bg-aqua-gradient' : ''">
                <a th:href="@{/admin/sync_data}">
                    <small class="label bg-red-active font-13"><i class="fa fa-refresh"></i></small>
                    <font class="font-16">Data Synchronization</font>
                </a>
            </li>
        </ul>
    </section>
</aside>