<head lang="en">
    <meta charset="UTF-8"/>
</head>

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header" style="color: white;">MAIN MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li th:attr="class=${SideBar == 'ManagementDepart'}? 'active' : ''">
                <a th:href="@{/admin/departments/}">
                    <i class="fa fa-laptop"></i>
                    <span><font style="font-size: 16px;">Management Departments</font></span>
                </a>
            </li>
            <li th:attr="class=${SideBar == 'ManagementAcc'}? 'active' : ''">
                <a th:href="@{/admin/accounts/}">
                    <i class="fa fa-laptop"></i>
                    <span><font style="font-size: 16px;">Management Accounts</font></span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>