<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_admin">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Home Page
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-laptop active"></i> Home</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 5px;"/>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
</div>
</body>
</html>