<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_admin">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Management Departments</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-success">
            <i class="glyphicon glyphicon-send"></i> Add New Account
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/admin/accounts/}">
                <i class="fa fa-laptop"></i> Management Accounts</a></li>
            <li class="active">Add New Account</li>
        </ol>
        <hr style="border-color: green; margin-top: 4px; margin-bottom: 5px;"/>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <div class="panel panel-success">
            <div class="panel-heading">
                <font class="panel-title">Account Information</font>
            </div>
            <div class="panel-body">
                <!-- Form for add account -->
                <form th:action="@{/admin/accounts/addAccountProcessing}" method="post"
                      class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Username: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <input type="text" th:name="username" th:value="${username}"
                                   class="form-control" placeholder="Enter Username" style="width: 50%;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Full Name: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <input type="text" th:name="fullName" th:value="${fullName}"
                                   class="form-control" placeholder="Enter Full Name" style="width: 50%;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Role: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <select th:name="roleId"
                                    class="form-control select2" style="width: 50%;">
                                <option>-- Select Role --</option>
                                <option th:each="role: ${ListRoles}" th:value="${role.id}"
                                        th:text="${role.name}"
                                        th:selected="${role.id} == ${roleId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Department: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <select th:name="departmentId"
                                    class="form-control select2" style="width: 50%;">
                                <option>-- Select Department --</option>
                                <option th:each="department: ${ListDepartments}" th:value="${department.id}"
                                        th:text="${department.name}"
                                        th:selected="${department.id} == ${departmentId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Manager: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <select th:name="managerId"
                                    class="form-control select2" style="width: 50%;">
                                <option>-- Select Manager --</option>
                                <option th:each="manager: ${ListManagers}" th:value="${manager.id}"
                                        th:text="${manager.fullName} + ' - ' + ${manager.username}"
                                        th:selected="${manager.id} == ${managerId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Gender: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <select th:name="gender"
                                    class="form-control select2" style="width: 50%;">
                                <option th:value="0" th:selected="${gender == 0}">Male</option>
                                <option th:value="1" th:selected="${gender == 1}">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Email: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <input type="text" th:name="email" th:value="${email}"
                                   class="form-control" placeholder="Enter Email" style="width: 50%;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Phone: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <input type="text" th:name="phone" th:value="${phone}"
                                   class="form-control" placeholder="Enter Phone" style="width: 50%;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Address: <font color="red">*</font></label>

                        <div class="col-sm-10">
                            <textarea th:name="address" th:text="${address}"
                                      class="form-control" style="width: 50%"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-success btn-flat btn-sm" style="width: 25%;">
                                <i class="fa fa-download"></i> SAVE
                            </button>
                            <button type="reset" class="btn btn-warning btn-flat btn-sm" style="width: 25%;">
                                <i class="fa fa-refresh"></i> RESET
                            </button>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                </form>
                <!-- ./form for add account -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a th:href="@{/admin/accounts/}">
                    <button class="btn btn-primary btn-flat btn-sm" style="width: 45%">
                        <i class="fa fa-chevron-left"></i> BACK
                    </button>
                </a>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <!--<script th:src="@{/js/admin/management_depart/management_depart.js}"></script>-->
</div>
</body>
</html>