<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_admin">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Management Departments</title>
</head>
<body onload="load_list_accounts('', 0, 10)">
<div layout:fragment="content">
    <section class="content font-17">
        <div class="row">
            <div class="col-sm-12 text-center">
                <label><font class="font-24"><i class="fa fa-users"></i> Management Accounts</font></label>
            </div>
        </div>
        <!-- form for search accounts -->
        <div class="input-group" style="margin-right: 25%; margin-left: 25%; margin-bottom: 5px; margin-top: 10px;">
            <input type="text" class="form-control" placeholder="Enter account"/>
            <span class="input-group-btn">
                    <button class="btn btn-success btn-flat" type="button"/>
                        <i class="glyphicon glyphicon-search"></i> Search
                </span>
        </div>
        <!-- ./form for search accounts -->
        <!-- Add new account -->
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success btn-flat btn-sm" onclick="add_new()">
                    <i class="glyphicon glyphicon-plus"></i> New Account
                </button>
            </div>
        </div>
        <!-- /.end add new account -->
        <!-- list of accounts -->
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div class="box-title">
                            List of Accounts
                        </div>
                        <div class="pull-right">
                            Show
                            <select th:id="'select-entries'">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> entries
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <colgroup>
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>User Name</th>
                                <th>Department</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody th:id="'tbody-list-accounts'"></tbody>
                        </table>
                    </div>
                    <div th:id="'footer-pagination'" class="box-footer no-border text-right"></div>
                </div>
            </div>
        </div>
        <!-- /.list of accounts -->
        <!-- modals here -->
        <div th:replace="views/admin/management_acc/modals"></div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/admin/management_acc/management_acc.js}"></script>
</div>
</body>
</html>