<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_employee">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Attendance</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- Info: manager, department, date -->
        <div style="margin-bottom: 10px">
            <div class="row text-success" style="font-size: 24px;">
                <div class="col-sm-5 text-right text-bold">
                    <i class="fa fa-user"></i>
                </div>
                <div class="col-sm-6 text-left">
                    <font>Your Attendance</font>
                </div>
            </div>
            <!-- department -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Department:</font></div>
                <div class="col-sm-6 text-left">
                    <font>Informaiton Technology</font></div>
            </div>
            <!-- /.end department -->
            <!-- total present days -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Total present days:</font></div>
                <div class="col-sm-6 text-left">
                    <font>12/22</font></div>
            </div>
            <!-- /.total present days -->
            <!-- month -->
            <div class="row text-success" style="font-size: 18px;">
                <div class="col-sm-5 text-right text-bold">
                    <font>Month:</font></div>
                <div class="col-sm-6 text-left">
                    <div class="input-group date" style="width: 35%">
                        <input type="text" th:value="${#dates.format(SelectedDate, 'MMMM-yyyy')}"
                               class="form-control pull-left" id="datepicker"/>

                        <div class="input-group-addon">
                            <i class="fa fa-calendar text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.end month -->
        </div>
        <div class="panel panel-default">
            <!-- /.box-header -->
            <!-- table for list of dates -->
            <div class="panel-body">
                <table class="table">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Time Check-in</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attendance,counter: ${AccountAttendanceModel.attendances}"
                        th:if="${attendance.dayStatus.index != 3}">
                        <td th:text="${counter.count} + '.'"></td>
                        <td th:text="${#dates.format(attendance.date, 'dd-MMM-yyyy')}"></td>
                        <td>
                            <label th:class="${attendance.present.index == 0}? 'label label-success' : 'label label-danger'"
                                    th:text="${attendance.present.index == 0} ? 'Present' : 'Absent'"
                                   style="font-size: 14px;"></label>
                        </td>
                        <td>
                            <font th:text="${attendance.timeCheck != null}? ${#dates.format(attendance.timeCheck, 'HH:mm')}: '-'"
                                  style="font-style: italic"></font>
                        </td>
                        <td th:text="${attendance.note != null}? ${attendance.note}: '-'">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.end table for list of dates -->
        </div>
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="js">
    <!--<script th:src="@{/js/manager/timekeeping/timekeeping_details.js}"></script>-->
</div>
</body>
</html>